/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media screen and (min-width: $break-m) {
  .container {
  
    .centered {
    @include center;
    max-width: 1400px;
  }
  
  .row {
    flex-direction: row;
      [class^=col] {
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-top: 0;
      }
    
    [class^=col] + [class^=col] {
      margin-left: 10px;
    }
      
      $col: 8.34%; 

      @for $i from 1 through 12 {
          .col-#{$i} { 
          flex-basis: $col * $i;
        }
      }   
    }
  
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .nav-link {
      flex-basis: 100px;
    }
  }
  
  .btn {
    padding: 10px 30px;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
  
  .logo {
    margin-left: initial;
    margin-right: initial;
      }
    }
  }
  